.keyboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.button {
    min-width: 50px;
    height: 50px;
    font-size: 2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px #757F8A80, -5px -5px 10px 0px #FFFFFF80;
    transition: box-shadow 0.1s ease-in-out;
    text-align: center;
    color: black;
    background: #FFFF;
    font-weight: 400;
    padding: 0px;
    margin: 0px auto;

    &:hover{
        box-shadow: 4px 4px 8px 0px #757F8A80, -4px -4px 8px 0px #FFFFFF80;
    }

    &:active{
        box-shadow: 0px 0px 0px 0px #757F8A80, 0px 0px 0px 0px #FFFFFF80;
    }

    &--muted{
        color: #757F8A80;
    }

    &--orange{
        color: #FD8016;
    }

    &--wide{
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 50px;
        width: auto;
    }

    &--pressed-in{
        box-shadow: 5px 5px 10px -2px #757F8A80 inset, -5px -5px 10px -2px #FFFFFF80 inset;

        &:hover{
            box-shadow: 6px 6px 12px -2px #757F8A80 inset, -6px -6px 12px -2px #FFFFFF80 inset;
        }

        &:active{
            box-shadow: 10px 10px 20px -2px #757F8A80 inset, -10px -10px 20px -2px #FFFFFF80 inset;
        }
    }

    &--landscape{
        display: none;
    }

    &--expanded{
        display: none;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape){
    .keyboard{
        grid-template-columns: repeat(6, 1fr);
    }

    .button{
        &--portrait{
            display: none;
        }

        &--landscape{
            display: block;
        }

        &--wide-on-landscape{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &--pressed-in-on-landscape{
            box-shadow: 5px 5px 10px -2px #757F8A80 inset, -5px -5px 10px -2px #FFFFFF80 inset;
    
            &:hover{
                box-shadow: 6px 6px 12px -2px #757F8A80 inset, -6px -6px 12px -2px #FFFFFF80 inset;
            }
    
            &:active{
                box-shadow: 10px 10px 20px -2px #757F8A80 inset, -10px -10px 20px -2px #FFFFFF80 inset;
            }
        }
    }
}